# Environment variables
.env
.env.local

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage

# Virtual Environment
venv/
env/
ENV/
.venv/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
